# Directories to ignore
/*_XCode

# File types to ignore
*.o

*.zip

Assignment 1/Shell_XCode/Shell_XCode.xcodeproj/project.xcworkspace/xcuserdata/alexanderflasch.xcuserdatad/UserInterfaceState.xcuserstate
